@model ASDAssignmentUTS.Models.Artist

@{
    ViewData["Title"] = "Update Artist";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>

<div class="container">
    <h1>Update Artist</h1>
    <hr />
    <div class="form-center">
        <div class="admin-form">
            <form asp-action="UpdateArtist">
                <div asp-validation-summary="ModelOnly" class="form-error"></div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="name" class="control-label">Name</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="form-error"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="genre" class="control-label">Genre</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="genre" class="form-control" />
                        <span asp-validation-for="genre" class="form-error"></span>
                    </div>
                    
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="country" class="control-label">Country</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="country" class="form-control" />
                        <span asp-validation-for="country" class="form-error"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="description" class="control-label">Description</label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="description" class="form-error"></span>
                    </div>
                    
                </div>
                <div class="form-group form-buttons">
                    <a class="btn btn-secondary m-2" asp-action="ArtistManagement">Cancel</a>
                    <input type="submit" value="Update" class="btn btn-primary m-2" />
                </div>
            </form>
        </div>
    </div>
</div>


