h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 0;
    color: white;
}
body {
    width: 100%;
    height: 100%;
    background-image: url("musicbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
p {
    font-family: 'Gill Sans';
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 0;
}
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 5px solid black;
    background-color: white;
    color: black;
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 10px 59px;
    margin-top: 50px;
    border-radius: 40px;
}
    button.center {
        margin-left: auto;
        margin-right: auto;
    }
footer {
    width: 100%;
    height: 60px;
}