
@{
    ViewData["Title"] = "Admin Menu";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <title>HomePage</title>
</head>

<body>
    <main>
        <h1>Admin Menu</h1>
        <br /> <br /> <br />
        <h1>Hi @User?.Identity?.Name!</h1>
        <p>What do you want to manage?</p>
        <div class="intro">
            <button><a class="nav-link text-dark" asp-controller="AdminUser" asp-action="UserManagement">User Management</a></button>
            <p></p>
            <button><a class="nav-link text-dark" asp-controller="AdminSong" asp-action="SongManagement">Song Management</a></button>
            <p></p>
            <button><a class="nav-link text-dark" asp-controller="AdminSong" asp-action="ArtistManagement">Artist Management</a></button>
            <p></p>
            <button><a class="nav-link text-dark" asp-controller="AdminSong" asp-action="ReviewManagement">Review Management</a></button>

            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Account" asp-action="Settings" class="btn btn-primary">Settings</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
            }
        </div>
    </main>

</body>

</html>

