
@{
    ViewData["Title"] = "Admin Menu";
}

<h1>Admin Menu</h1>

<div>
    <a asp-controller="AdminUser" asp-action="UserManagement">User Management</a>
    <a asp-controller="AdminSong" asp-action="SongManagement">Song Management</a>
    <a asp-controller="AdminSong" asp-action="ArtistManagement">Artist Management</a>
</div>

