@model List<Artist>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Artists</title>
</head>
<body>
<a href="@Url.Action("Index", "Artist")">Link to Artist Index</a>
</body>
</html>
