@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>

<body>
    <main>
        <h1 class="content-title">Music Box Directory</h1>
        <p class="content-text">All thats trending!</p>
        <div class="intro">
            <h1>Hi Andrew!</h1>
            <p>Welcome to ADVSOFTDEV</p>
            <button>Search for a Song</button>
            <p></p>
            <button>View Playlists</button>
        </div>
    </main>
    <footer>
        <div class="copy">Group 1 - Advanced Software Development</div>
        <div class="bottom-links">
            <div class="links">
                <span>More Info</span>
                <a href="#">Home</a>
                <a href="#">Playlists</a>
                <a href="#">Song Search</a>
            </div>
        </div>
    </footer>
</body>

</html>
