@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Home/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <title>HomePage</title>
</head>

<body>
    <main>
        <h1>Music Box Directory</h1>   
            <br /> <br /> <br />
            <h1>Hi Andrew!</h1>
            <p>Welcome to Music Box Directory</p>
        <div class="intro">
            <button> <a class="nav-link text-dark" asp-area="" asp-controller="SongSearch" asp-action="SongSearch">Search for a Song</a></button>
            <p></p>
            <button>View Playlists</button>
            <p></p>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Account" asp-action="Settings" class="btn btn-primary">Settings</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
            }
        </div>
    </main>

</body>

</html>