@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <title>HomePage</title>
</head>

<body>
    <main>
        <h1>Music Box Directory</h1>   
            <br /> <br /> <br />
            <h1>Hi Andrew!</h1>
            <p>Welcome to Music Box Directory</p>
        <div class="intro">
            <button>Search for a Song</button>
            <p></p>
            <button>View Playlists</button>
            <p></p>
            <a asp-controller="Account" asp-action="Login" >Login</a>
        </div>
    </main>

</body>

</html>
