@model IEnumerable<ASDAssignmentUTS.Models.Artist>

@{
    ViewData["Title"] = "SongManagement";
}

<h1>SongManagement</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    
</table>
