<h2>Settings</h2>

<form method="post" asp-action="DeleteConfirmed" asp-controller="Account">
    @Html.AntiForgeryToken()
    <label for="username">Username:</label>
    <input type="text" name="username" required />

    <label for="password">Password:</label>
    <input type="password" name="password" required />

    <button type="submit">Delete Account</button>
</form>
<form method="post" asp-action="Logout" asp-controller="Account">
    <button type="submit">Logout</button>
</form>
<form method="get" asp-action="Home" asp-controller="Home">
    <button type="submit">Return to Home</button>
</form>