<link rel="stylesheet" href="~/css/authentication.css">

<div class="auth-container">

    <h2 class="auth-header">Settings</h2>

    @if (!string.IsNullOrEmpty(TempData["StatusMessage"] as string))
    {
        <div class="notification">
            <div class="alert alert-danger">
                @TempData["StatusMessage"]
            </div>
        </div>
    }

    <form method="post" asp-action="DeleteConfirmed" asp-controller="Account" class="auth-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" required class="form-input" />
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" required class="form-input" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </div>
    </form>

    <form method="post" asp-action="ChangePassword" asp-controller="Account" class="auth-form">
    <div class="form-group">
        <label for="currentPassword">Current Password:</label>
        <input type="password" name="currentPassword" required class="form-input" />
    </div>
    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" required class="form-input" />
    </div>
    <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input type="password" name="confirmNewPassword" required class="form-input" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
    </form>


    <form method="post" asp-action="Logout" asp-controller="Account" class="auth-form">
        <div class="form-group">
            <button type="submit" class="btn btn-secondary">Logout</button>
        </div>
    </form>

    <form method="get" asp-action="@((bool)ViewData["IsAdmin"] ? "AdminMenu" : "Home")" asp-controller="Home" class="auth-form">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Return to Home</button>
        </div>
    </form>
</div>
