@model List<Artist>
<!DOCTYPE html>
<html>

@{
    Layout = "~/Views/Home/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/playlist.css" asp-append-version="true" />
    <style>
        tr.hidden {
            display: none;
        }
    </style>
</head>

<body>
    <input type="text" id="filter" placeholder="Filter by name">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.name</td>
                <td><a href="@Url.Action("ArtistInformation", "ArtistInformation", new { artistid = artist.id })"
                        class="info-button">Information</a></td>
            </tr>
        }
    </table>
    <script>
        const input = document.querySelector('#filter');
        const rows = document.querySelectorAll('tr');

        input.addEventListener('input', () => {
            const filter = input.value.toLowerCase();

            rows.forEach(row => {
                if (row.querySelector('th')) return;

                const id = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
                const name = row.querySelector('td:nth-child(2)').textContent.toLowerCase();


                const matches = [id, name].some(data => data.includes(filter));

                row.classList.toggle('hidden', !matches);
            });
        });
    </script>
</body>

</html>